tbody,
tfoot,
th {
  font-size: 3rem;
  color: blue;
}

tbody,
tfoot,
tr {
  font-size: 1.5rem;
}

.flex,
button,
i,
input {
  justify-content: end;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}
